/*
    Designor: Calmacil
    Style: Pure
    Site: FFDVH
    File: nav
*/

#nav {
    background-color: #dca;
    -moz-border-radius: 0px 0px 20px 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:-15px;
    height: 30px;
    width: 920px;
}

.navpanel {
	font-family: verdana;
	font-size: 1.25em;
    float: left;
    width: 16%;
}

.navpanel a {
    text-decoration: none;
    text-align: center;
    color: white;
}

.navpanel a:hover {
    color: white;
    background-color: #dca;
    text-decoration: underline;
    font-style: oblique;
}

.navpart {
	position: fixed;
	background-color: white;
	border: outset brown 1px;
	display: none;
	width: 140px;
}

.navpart a {
	display: block;
	color: brown;
	font-size: 0.8em;
	font-weight: bold;
	text-align: left;
}

.navpart a:hover {
	border: inset brown 1px;
    background-color:#ede;
    color: brown;
}
